/* General Styles */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

/* Index.html Styling  */

#pageone {
    background-image: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.7)), url(../images/griffith.webp);
    background-size: cover;
    background-repeat: no-repeat;   
    display: flex;
    height: 100vh;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
p {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
#home-txt {
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}

/* Start btn styling  */

.go-btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid rgb(177, 10, 10);
    border-radius: 6px;
    transition: 0.4s;
    display: inline-flex;
    margin-top: 10px;
    margin: 20px;
    background-color: black;
}

/* Quiz.html Styling */

#pagetwo {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../images/griffith.webp);
    background-size: cover;
    background-repeat: no-repeat;   
}

/* quiz container and answer buttons styling */

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    cursor: pointer;
}
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}
.btn.wrong {
    --hue: var(--hue-wrong);
}

/* Styling for user results  */

.result-true {
    color: green;
}
.result-wrong {
    color: red;
}

/* start button styling  */

.start-btn {
transition: 0.6s;
}
.start-btn:hover {
    transform: scale(1.1);
}   
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar styling  */

nav {
    align-items: center;
    text-align: center;
    margin: 20px auto;

}

/* home and restart btn styling  */

#home-btn {   
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid rgb(177, 10, 10);
    border-radius: 6px;
    transition: 0.4s;
    background-color: black;
}
#home-btn:hover {
    transform: scale(1.1);
}
#restart-btn {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 6px;
    transition: 0.4s;
    margin-top: 10px;
}
#restart-btn:hover {
    transform: scale(1.1);
}
.hide {
    display: none;
}

.disabled {
    pointer-events: none;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    #pageone, #pagetwo{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

  @media screen and (max-width: 800px) {
    h1, p, #home-txt {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
